<div id="login" class="">
    <div class="modal-header" style="background-color: rgb(247, 247, 247);">
        <span class="glyphicon glyphicon-remove" style="float:right" ng-click="cancel()"></span>
        <h3>欢迎来到前端技术社区</h3>

    </div>
    <div class="modal-body row">
        <div class="col-sm-7" style="border-right:1px solid #e5e5e5">
            <h4>登陆</h4>
            <div class="input-group input-group-lg " style="margin-top:20px;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" placeholder="用户名" ng-model="login.loginName">
            </div>
            <div class="input-group input-group-lg" style="margin-top:20px;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" placeholder="密码" ng-model="login.password">
            </div>

            <div class="form-inline" style="margin-top:20px;height:30px;">
                <div class="checkbox float-left">
                    <label>
                        <input type="checkbox" />
                        下次自动登陆

                    </label>
                </div>
                <a class="float-right">忘记密码？</a>
            </div>
        </div>
        <div class="col-sm-5 ">
            <h4>没有账号？</h4>
            <p style="line-height:1.5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;前端技术社区是前端技术爱好者的聚集地，通过这里你可以学习到新的前端技术，立刻加入我们吧!</p>
            <div style="margin-top:37px;text-align:center">
                <a ng-click="redirectRegist()">点击这里注册</a>
            </div>
        </div>
    </div>
    <div class="modal-footer " style="text-align:center">
        <alert ng-repeat="alert in alerts" type="'danger'" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class="btn btn-primary btn-lg" style="width:140px;" ng-click="ok()">登陆</button>
    </div>
</div>
