<div class="topicList-body font forum-fadein">
    <div style="display: table;width:100%; background-color: #f5f5f5; padding: 1px; padding-left: 10px;">
        <div style="display: table-cell;width:80px;">
            <h4>当前话题</h4>
        </div>
        <div class="dropdown visible-xs" style="display:table-cell;width:80px;">
            <a class="dropdown-toggle btn">
                {{'全部'}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a>{{'全部'}}</a>
                </li>
            </ul>
        </div>
        <div style="display:table-cell"></div>
        <div style="display: table-cell;width:60px; vertical-align:middle" ng-show="isLogin">
            <a href="#/Add" class="btn btn-info float-right" style="margin-right:5px;width:80px;">发帖</a>
        </div>
    </div>
    <tabset class="hidden-xs">
        <tab heading="全部" select="tabChanged('')"></tab>
        <tab heading="AngularJs" select="tabChanged('AngularJs')"></tab>
        <tab heading="BackBone.js" select="tabChanged('BackBone.js')"></tab>
        <tab heading="jQuery" select="tabChanged('jQuery')"></tab>
        <tab heading="HTML5/CSS3" select="tabChanged('HTML5/CSS3')"></tab>
        <tab heading="其他" select="tabChanged('other')"></tab>
    </tabset>
    <div>
        <div class="topicList-list " ng-repeat="topic in topicList" ng-mouseenter="selectedRow = $index"
             ng-mouseleave="selectedRow=null"
             ng-class="{'topicList-list-selected':$index==selectedRow}">
            <div class="topicList-list-avatar" style="width: 45px;">
                <img src="../public/images/images.jpg" alt="..." class="img-thumbnail img-responsive"
                     style="display: inline">
            </div>
            <div class=" hidden-xs topicList-list-item" style="width: 80px;">
                <p class="text-center" style="font-size: 12px; color: #bebebe">
                    <span style="color: #9e78c0">{{topic.replyCount}}</span>/{{topic.clickCount}}
                </p>
            </div>
            <div class="topicList-list-item topicList-list-theme">
                <a href="#/Topic/{{topic._id}}">{{topic.theme}}</a>
            </div>
            <div class="topicList-list-item " style="width: 80px;">
                <a href="#/User/{{topic.replyer._id}}" style="font-size: 14px;float:right">{{topic.replyer.name}}</a>
            </div>
            <div class="topicList-list-item " style="width: 70px; font-size: 12px; color: #666;float:right ">
                <p class="text-center">
                    {{dealDate(topic.replyTime)}}
                </p>
            </div>
        </div>
    </div>
    <div style="margin-left:20px; margin-top:5px;">
        <pagination total-items="TotalItems" page="CurrentPage" max-size="maxSize" class="pagination" ng-click="getData('')" boundary-links="true" rotate="false" items-per-page="20" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>