<div class="topicList-body font" style="margin-bottom:20px;">
    <div style="display: table;width:100%; background-color: #f5f5f5; padding: 0px; padding-left: 10px;">
        
        <div style="display: table-cell;width:80px;">
            <h5 class="font">个人资料</h5>
        </div>
        <div style="display:table-cell"></div>
        <!--<div style="display: table-cell;width:60px; vertical-align:middle">
            <a class="btn btn-info float-right" style="margin-right:5px;width:80px;" ng-click="replyTopic()">回复</a>
        </div>-->
    </div>
    <div style="margin-top:15px;">
        
        <form class="form-horizontal" role="form">
            <!--<h5 class="font form-group">请在这里填写您的个人信息，您所填写信息将会由您的访问者看到</h5>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">头像</label>
                <div class="col-sm-8" ng-init="function file($event){window.console.log($event)}">
                    <div class="input-group">
                        <input type="text" class="form-control" style="height:auto">
                        <span class="input-group-btn">
                            <input type="file" ng-model="imgSrc" style="display:none">
                            <button class="btn btn-default" ng-model="imgSrc" type="button" ng-click="file($event)">浏览</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">城市</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="请用中文填写所在城市">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">公司</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="您所在的公司">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">个人主页</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="您个人主页的连接">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">签名</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">简介</label>
                <div class="col-sm-8">
                    <textarea class="form-control" placeholder="您个人的简介"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div style="text-align:center">
                    <button type="button" class="btn btn-success">保存修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
